@media (max-width: 1199px) {
    .header_area .navbar .nav .nav-item {
        margin-right: 14px;
    }
}

.custom-href {
    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
}
